* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: "Google Sans", sans-serif;
  overflow-x: hidden;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  border-bottom: 4px solid #1b1b1b;
  width: 100%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  padding-inline: clamp(16px, 4vw, 50px);
}

.web-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1b1b1b;
}

.jm-logo {
  margin-right: 15px;
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
}

.stack-title {
  font-weight: 700;
}

.desktop-links {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.desktop-NavItem i,
.github-link-btn i {
  margin-right: 5px;
}

.desktop-NavItem,
.dropdown-btn {
  text-decoration: none;
  font-weight: 700;
  color: #1b1b1b;
  padding: 10px;
}

.desktop-NavItem:hover,
.dropdown-btn:hover {
  background-color: #1b1b1b;
  color: #ffffff  ;
}

.dropdown-btn {
  text-decoration: none;
  color: #1b1b1b;
}

.dropdown-btn i {
  margin-right: 5px;
  font-weight: 700;
}

.dropdown-content {
  display: none;
}

.dropdown-btn:hover .dropdown-content {
  display: block;
}

.github-link-btn {
  text-decoration: none;
  border: 2px solid #1b1b1b;
  background-color: #1b1b1b;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  font-weight: 700;
} 

.mobile-hamburger {
  display: none;
}

.mobile-nav {
  display: none;
}

.jmdevstack-logo {
  border-radius: 100%;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}

#home {
  scroll-margin-top: 150px;
  height: 100vh;
}

.home-content {
  display: flex;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  margin: 2.5%;
}

.home-content h1 {
  font-size: 2.6rem;
}

.home-content p {
  font-size: 1.4rem;
}

.home-content a {
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-right: 15px;
  background-color: #1b1b1b;
  color: #f1f1f1;
  text-decoration: none;
}

.hire-stack {
  display: flex;
}

.home-content .facebook-link {
  background-color: transparent;
  color: #1b1b1b;
  font-size: 1.4rem;
}

.dev-stack {
  font-size: 1.2rem;
  padding: 10px 15px;
  border: 2px solid #1b1b1b;
  cursor: pointer;
}

.home-content ul {
  list-style-type: none;
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 5px;
}

.home-content ul li a {
  background-color: transparent;
  color: #1b1b1b;
  font-size: 1.4rem;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.home-content ul li a:hover {
  transform: translateY(-5px);
}

#about {
  scroll-margin-top: 150px;
  height: 100vh;
}
.aboutme-content {
  display: flex;
  padding: 50px;
  justify-content: space-around;
  margin: 2.5%;
  line-height: 1.5;
}

.aboutme-content h1 {
  background-color: #1b1b1b;
  padding: 5px 10px;
  width: fit-content;
  color: #ffffff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
}

.aboutme-content p {
  width: 500px;
  text-align: justify;
}

@media (max-width: 738px) {
  /* NAVBAR STYLES */
  .mobile-hamburger {
    font-size: 25px;
  }
  .desktop-links {
    display: none;
  }
  .mobile-hamburger {
    display: block;
    border: none;
    font-size: 28px;
    color: #1b1b1b;
    background-color: transparent;
  }

  /* HOME CONTENT STYLES */
  .home-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 15px;
  }
  .home-content h1 {
    font-size: 1.3rem;
  }
  .home-content p {
    font-size: 1rem;
  }
  .hire-stack {
    font-size: small;
  }
  .hire {
    font-size: 10px;
  }
  .jmdevstack-logo {
    height: 200px;
    width: 200px;
  }

  /* ABOUT ME CONTENT STYLES */
  #about {
    justify-content: center;
  }
  .aboutme-content {
    flex-direction: column;
    gap: 15px;
  }
  .aboutme-content h2 {
    text-align: center;
  }
  .aboutme-content p {
    width: 250px;
    text-align: justify;
  }
}